/* DatasetDetailComponent's private CSS styles */
h2 {
  text-align: right;
  margin-left: 1px;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 10px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

table   {
  width: 300px;
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 80%;
}

th {
  width: 100px;
  text-align: left;
  background-color: #d3d3d3;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 80%;
}

td {
  width: 200px;
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 80%;

}

.e2e-trusted-url {
  text-align: left;
  height: 30px;
  background-color: #00ee00;
}

.e2e-data-url {
  text-align: left;
  height: 30px;
  background-color: #0000ee;
}


.freeform_metadata {
 font-size: 80%;
}

colgroup {
  display: table-column-group;
}

