/* DatasetDetailComponent's private CSS styles */

mat-card {
  margin: 1em;

  .first-header {
    background: #99d6e9;
  }

  .second-header {
    background: #99adc1;
  }

  .third-header {
    background: #d6e599;
  }

  .fourth-header {
    background: #99c1b5;
  }

  .text-content {
    padding-top: 1em;

    th {
      text-align: left;
      padding-right: 0.5em;
    }

    td {
      padding: 0.3em;
    }
  }

  .access-button {
    margin-right: 1em;
    background-color: #0099c8;
    color: #ffffff;
  }

  .description-button {
    background-color: #99be00;
    color: #ffffff;
  }

  .json-container {
    margin-top: 1em;
  }
}

.title-card {
  margin-top: 5em;

  .title {
    text-align: center;
    color: #666666;
  }

  .creators {
    text-align: center;
  }
}
