/* DatasetDetailComponent's private CSS styles */
@use '~@angular/material' as mat;
@import "../../../theme.scss";

mat-card {
  margin: 1em;

  .first-header {
    background-color: mat.get-color-from-palette($primary, lighter);
  }

  .second-header {
    background-color: mat.get-color-from-palette($navy, 400);
  }

  .third-header {
    background-color: mat.get-color-from-palette($accent, lighter);
  }

  .fourth-header {
    background-color: mat.get-color-from-palette($forest, 400);
  }

  .text-content {
    padding-top: 1em;

    th {
      text-align: left;
      padding-right: 0.5em;
    }

    td {
      padding: 0.3em;
    }
  }

  .access-button {
    margin-right: 1em;
    background-color: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary, default-contrast);
  }

  .description-button {
    background-color: mat.get-color-from-palette($accent);
    color: mat.get-color-from-palette($accent, default-contrast);
  }

  .json-container {
    margin-top: 1em;
  }
}

.title-card {
  margin-top: 5em;

  .title {
    text-align: center;
    color: #666666;
  }

  .creators {
    text-align: center;
  }
}
