/* AppComponent's private CSS styles */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1000;
}

.footer {
  margin-top: auto;
}

.logo-banner {
  height: 77px;
  justify-content: center;
  background-color: var(--theme-primary-default-contrast);
}

address {
  font-size: 16px;
  padding: 0.5em;
  background-color: whitesmoke;
}

.spacer {
  flex: 1 1 auto;
  text-align: left;
}
