<app-status-banner
  *ngIf="showStatusBanner"
  (dismiss)="showStatusBanner = false"
></app-status-banner>

<mat-toolbar class="mat-elevation-z1" color="primary">
  <mat-toolbar-row>
    <span class="spacer">{{ title }}</span>
    <span id="doiValue"></span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="footer">
  <mat-toolbar class="logo-banner" *ngIf="config.showLogoBanner">
    <img src="../assets/{{ config.logoBanner }}" width="{{ config.logoWidth }}" alt="logo_banner" />
  </mat-toolbar>

  <address *ngIf="appConfig.contactEmail">
    If you have any questions or need help, please contact <a href="mailto:{{ appConfig.contactEmail }}">{{
      appConfig.contactEmail }}</a>.
  </address>
</footer>
