/* AppComponent's private CSS styles */

.header {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1000;
  background: #0099c8;
  color: white;
}

.footer {
  height: 77px;
  background-color: #ffffff;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
  text-align: left;
}