<div *ngIf="pub">
    <div fxLayout="column">
    </div>


    <h2 *ngIf="pub.title as value" style="text-align: center; ">
        {{ value }}
    </h2>
    <h3 style="text-align: center;">
        {{ pub.creator }}; {{ pub.publisher }}
    </h3>
    <div class="border">
        <b>
      DOI
    </b>
        <br>
        <img src={{badgeDoi}} />
        <br>
        <b>
      URL
    </b>
        <br>
        <span [innerHTML]="window | linky"></span>
        <br>
    </div>
    <br>
    <div class="border">
        <div class="flexcontainer">

            <div *ngIf="pub.affiliation as value " style="border-left: 5px solid red">
                <b>Affiliation</b><br>
                <label> {{ value }}</label>
            </div>
            <div *ngIf="pub.publicationYear as value " style="border-left: 5px solid red">
                <b>Year</b><br>
                <label> {{ value }}</label>
            </div>
            <div *ngIf="pub.dataDescription as value " style="border-left: 5px solid red">
                <b>Description</b><br>
                <label> {{ value }}</label>
            </div>
            <div *ngIf="pub.resourceType as value " style="border-left: 5px solid red">
                <b>Resource Type</b><br>
                <label> {{ value }}</label>
            </div>


            <!--tr *ngIf="pub.numberOfFiles as value ">
          <th>No. of datasets</th>
          <td> {{ value }}</td>
        </tr>
        <tr *ngIf="pub.sizeOfArchive as value ">
          <th> Size</th>
          <td> {{ value | filesize }}</td>
        </tr-->






        </div>
    </div>
    <div fxFlex="45 " *ngIf="pub.thumbnail as value ">
        <mat-card style="margin: 1em ">
            <img mat-card-image src="{{ value}} " alt="data thumbnail ">
        </mat-card>
    </div>
    <br>
    <a class="ngbutton " mat-raised-button [href]=" 'https://www.psi.ch/en/photon-science-data-services/slsswissfel-data-transfer' ">Access data</a>

    <br>
    <br>
    <div fxLayout="row ">
        <div style="border-left: 5px solid red">
            <b>
        Abstract:
      </b> <br>{{pub.abstract}}
        </div>
    </div>
    <br>
    <details>
        <summary>Datasets (PIDs)</summary>
        <li *ngFor="let pid of pub.pidArray ">
            <a>
        {{pid}}
      </a>
        </li>
    </details>
</div>