<div *ngIf="pub">
        <div fxLayout="column">
          <h2>{{ pub.title }} </h2>
        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="55">
      
      
            <table>
              <tr *ngIf="pub.creator as value">
                <th>Creator</th>
                <td> {{ value }}</td>
              </tr>
              <tr *ngIf="pub.publisher as value">
                <th>Publisher</th>
                <td> {{ value }}</td>
              </tr>
              <tr *ngIf="pub.affiliation as value">
                <th>Affiliation</th>
                <td> {{ value }}</td>
              </tr>
              <tr *ngIf="pub.publicationYear as value">
                <th>Year</th>
                <td> {{ value }}</td>
              </tr>
              <tr *ngIf="pub.resourceType as value">
                <th>Resource Type</th>
                <td> {{ value }}</td>
              </tr>
              <tr *ngIf="pub.numberOfFiles as value">
                <th>No. of datasets</th>
                <td> {{ value }}</td>
              </tr>
              <tr *ngIf="pub.sizeOfArchive as value">
                <th> Size</th>
                <td> {{ value | filesize }}</td>
              </tr>
            </table>
      
            <br>
            <a class="e2e-trusted-url" mat-raised-button [href]="trustedUrl">Access data</a>
            &nbsp;
            <a class="e2e-data-url" mat-raised-button [href]="dataUrl">Data description</a>
            <br>
      
          </div>
      
          <div fxFlex="45" *ngIf="pub.thumbnail as value">
            <mat-card style="margin: 1em">
              <img mat-card-image src="{{ value}}" alt="data thumbnail">
            </mat-card>
          </div>
      
      
        </div>
        <div class="freeform_metadata" fxLayout="column">
      
      
          <b> DOI: </b> <a href="{{ doi_link}} "> {{doi}}</a>
          <p>
            <b> Instructions: </b> Login with brightness username and password
          </p>
          <div>
            <b>
              Abstract:
            </b>
            {{ pub.abstract}}
          </div>
          <button (click)="goBack()" style="width:100px">go back</button>
      
      
        </div>
        <button (click)="show = !show">{{show ? 'Hide MetaData' : 'Show Metadata'}}</button>
        <br>
        <div *ngIf="show">
          <div [innerHTML]="jsonLD"></div>
        </div>
      
      </div>
      