<div *ngIf="pub">
  <div fxLayout="column">
    <b> DOI: {{pub.doi}}</b>
  </div>
  <br />
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="55">


      <table>

        <tr *ngIf="pub.title as value">
          <th>Title</th>
          <td> {{ value }}</td>
        </tr>
        <tr *ngIf="pub.creator as value">
          <th>Creator</th>
          <td> {{ value }}</td>
        </tr>
        <tr *ngIf="pub.publisher as value">
          <th>Publisher</th>
          <td> {{ value }}</td>
        </tr>
        <tr *ngIf="pub.affiliation as value">
          <th>Affiliation</th>
          <td> {{ value }}</td>
        </tr>
        <tr *ngIf="pub.publicationYear as value">
          <th>Year</th>
          <td> {{ value }}</td>
        </tr>
        <tr *ngIf="pub.resourceType as value">
          <th>Resource Type</th>
          <td> {{ value }}</td>
        </tr>
        <tr *ngIf="pub.dataDescription as value">
          <th>Description</th>
          <td> {{ value }}</td>
        </tr>
        <!--tr *ngIf="pub.numberOfFiles as value">
          <th>No. of datasets</th>
          <td> {{ value }}</td>
        </tr>
        <tr *ngIf="pub.sizeOfArchive as value">
          <th> Size</th>
          <td> {{ value | filesize }}</td>
        </tr-->
      </table>
      <br />
      <a class="e2e-trusted-url" mat-raised-button [href]="trustedUrl">Access data</a>
      &nbsp;
      <!--a class="e2e-data-url" mat-raised-button [href]="dataUrl">Data description</a-->
      <br />

    </div>

    <div fxFlex="45" *ngIf="pub.thumbnail as value">
      <mat-card style="margin: 1em">
        <img mat-card-image src="{{ value}}" alt="data thumbnail">
      </mat-card>
    </div>


  </div>
  <div class="freeform_metadata" fxLayout="column">


  
    <div>
      <br />
      <b>
        Abstract: 
      </b>
      {{pub.abstract}}
      <br>
      <br>
      <details>
        <summary>Datasets (PIDs)</summary>
        <li *ngFor="let pid of pub.pidArray">
          <a>
            {{pid}}
          </a>
        </li>
      </details>
    </div>
    <br>
  </div>
</div>